<nav>
    <div>
        <p>Ecommerce Delicioso SexShop</p>
    </div>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/api/products">Productos</a></li>
        <li><a href="/api/users/profile">Usuario</a></li>
        <li><a href="/api/users/logout">Cerrar Sesion</a></li>
        <li><a href="/api/carts/{{cartId}}">Carrito</a></li>

    </ul>
</nav>

<h1>
    Ingresa un producto
</h1>

<form method="POST" action="/api/products">
    <label for="name">Nombre del Producto</label>
    <input type="text" name="name">

    <label for="description">Descripción</label>
    <input type="text" name="description">

    <label for="price">Precio</label>
    <input type="number" name="price">

    <label for="stock">Stock</label>
    <input type="number" name="stock">

    <label for="category">Categoria</label>
    <select name="category">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>

    <label for="thumbnail">Foto del Producto</label>
    <input type="text" name="thumbnail">



    <button type="submit">Registrar producto</button>
</form>

</div>

