<nav>
  <div>
    <p>Ecommerce Delicioso SexShop</p>
  </div>
  <ul>
    {{#if user}}
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="/api/products">Productos</a></li>
    <li><a href="/api/users/profile">Usuario</a></li>
    <li><a href="/api/users/logout">Cerrar Sesion</a></li>
    <li><a href="/api/carts/{{cartId}}">Carrito</a></li>
    {{else}}
    <a href="/login" class="login">
      <p>Ingresar</p>
    </a>
    {{/if}}
  </ul>
</nav>

<div>
  <h2>Ingresa tu Usuario</h2>
  <form method="POST" action="/api/users/login">

    <label for="email">Email</label>
    <input type="email" name="email" required />

    <label for="password">Password</label>
    <input type="password" name="password" required />

    <button type="submit">Ingresar</button>
  </form>

  <h2>Olvide mi contraseña</h2>
  <form action="/reset" method="get">

     <button type="submit" class="boton">Restablecer mi contraseña</button>

  </form>


  <a href="/api/users/github">Ingresar con GitHub</a>
  <a href="/register">Registrarse</a>

</div>

