<nav>
  <div>
    <p>Ecommerce Delicioso SexShop</p>
  </div>
  <ul>
    <li><a href="/inicio">Inicio</a></li>
    <li><a href="/api/products">Productos</a></li>
    <li><a href="/api/users/profile">Usuario</a></li>
    <li><a href="/api/carts"></a>Carrito</li>
    <li><a href="/api/users/logout">Cerrar Sesion</a></li>
  </ul>
</nav>

<div>
<form method="post" action="/api/users/request-password">

    <label for="email">Email</label>
    <input type="email" name="email" required />

    <button type="submit">Restablecer Contraseña</button>
    
  </form>
</div>
